--extra-index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio
matplotlib
numpy
pandas==1.5.0
scipy
einops
pyyaml
gdown
tensorboard
ml_collections
ema_pytorch
datasets
transformers===4.31.0
evaluate===0.4.0
rouge_score===0.1.2
auto-gptq
beir
tqdm
jupyterlab